{
  "openapi": "3.0.3",
  "info": {
    "title": "Autours API",
    "description": "Complete API documentation for Autours car rental platform. Covers all JSON endpoints needed to build a separated frontend.\n\n**Auth modes:**\n- Session cookie auth for web routes (login via `/login` sets session cookie)\n- Bearer token (Sanctum) for API routes (login via `/api/external/supplier/login`)\n- Some routes use middleware guards: `admin`, `admin_or_supplier`, `active_supplier`, `customer`, `member`",
    "version": "2.0.0",
    "contact": {
      "name": "Autours Support",
      "email": "info@autours.net"
    }
  },
  "servers": [
    {
      "url": "https://www.autours.net",
      "description": "Production Server"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local Development Server"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Login, logout, register, password reset"
    },
    {
      "name": "External Supplier API",
      "description": "Sanctum-token-based API for external suppliers"
    },
    {
      "name": "User & Profile",
      "description": "User data, roles, companies, customers"
    },
    {
      "name": "Vehicles",
      "description": "Vehicle search, filter, CRUD, pricing"
    },
    {
      "name": "Bookings & Rentals",
      "description": "Booking creation, cancellation, rental lists, invoices"
    },
    {
      "name": "Branches",
      "description": "Branch management"
    },
    {
      "name": "Categories",
      "description": "Vehicle categories"
    },
    {
      "name": "Specifications",
      "description": "Vehicle specifications"
    },
    {
      "name": "Included",
      "description": "What's included items"
    },
    {
      "name": "Fuel Policies",
      "description": "Fuel policies"
    },
    {
      "name": "Location Types",
      "description": "Location types"
    },
    {
      "name": "Rental Terms",
      "description": "Rental terms management"
    },
    {
      "name": "Payment Methods",
      "description": "Supplier payment methods"
    },
    {
      "name": "Promos",
      "description": "Promotions / offers"
    },
    {
      "name": "Rates & Reviews",
      "description": "Ratings and review questions"
    },
    {
      "name": "Background Settings",
      "description": "Background image settings"
    },
    {
      "name": "Blog",
      "description": "Blog posts"
    },
    {
      "name": "Blog Categories",
      "description": "Blog categories"
    },
    {
      "name": "Subscribers",
      "description": "Newsletter subscribers"
    },
    {
      "name": "Dashboard",
      "description": "Dashboard stats"
    },
    {
      "name": "Reference Data",
      "description": "Countries, currencies, logos, backgrounds, photos"
    },
    {
      "name": "Admin",
      "description": "Admin-only operations"
    },
    {
      "name": "Supplier",
      "description": "Supplier-only operations"
    },
    {
      "name": "Customer",
      "description": "Customer-only operations"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Web Login",
        "description": "Authenticate with email/password. Sets session cookie.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              },
              "example": {
                "email": "user@example.com",
                "password": "password"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginWebResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": [
                    "Credentials not valid"
                  ],
                  "status": false
                }
              }
            }
          }
        }
      }
    },
    "/logout": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Web Logout",
        "description": "Destroy session and redirect to home.",
        "responses": {
          "302": {
            "description": "Redirect to home page"
          }
        }
      }
    },
    "/post/user/data": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register",
        "description": "Register a new customer or supplier.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": [],
                  "status": true
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forget-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Request password reset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": true
                }
              }
            }
          }
        }
      }
    },
    "/validate-forget-password-key": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Validate password reset key",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string"
                  }
                },
                "required": [
                  "key"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": true,
                  "data": {},
                  "message": "key validated"
                }
              }
            }
          },
          "403": {
            "description": "Invalid or expired key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": false,
                  "message": ""
                }
              }
            }
          }
        }
      }
    },
    "/save-new-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Set new password",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string"
                  },
                  "newPassword": {
                    "type": "string",
                    "minLength": 6
                  }
                },
                "required": [
                  "key",
                  "newPassword"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": true,
                  "message": "password has been reset successfully"
                }
              }
            }
          }
        }
      }
    },
    "/api/user": {
      "get": {
        "tags": [
          "User & Profile"
        ],
        "summary": "Get authenticated user (Sanctum)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated or unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/external/supplier/login": {
      "post": {
        "tags": [
          "External Supplier API"
        ],
        "summary": "Supplier Login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Not a supplier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/external/supplier/logout": {
      "post": {
        "tags": [
          "External Supplier API"
        ],
        "summary": "Supplier Logout",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Logged out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": true,
                  "message": "Logged out successfully."
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated or unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/external/supplier/profile": {
      "get": {
        "tags": [
          "External Supplier API"
        ],
        "summary": "Get Supplier Profile",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated or unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/external/supplier/integration-settings": {
      "put": {
        "tags": [
          "External Supplier API"
        ],
        "summary": "Update Integration Settings",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationSettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated or unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/external/supplier/vehicles": {
      "get": {
        "tags": [
          "External Supplier API"
        ],
        "summary": "List Supplier Vehicles",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicles retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedVehicleResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated or unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "External Supplier API"
        ],
        "summary": "Create Vehicle (External)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateVehicleRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVehicleRequestJson"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated or unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/external/supplier/vehicles/{vehicleId}/price": {
      "put": {
        "tags": [
          "External Supplier API"
        ],
        "summary": "Update Vehicle Price",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVehiclePriceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateVehiclePriceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated or unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/external/supplier/rentals": {
      "get": {
        "tags": [
          "External Supplier API"
        ],
        "summary": "List Supplier Rentals",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rentals retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedRentalResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated or unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/external/supplier/included": {
      "get": {
        "tags": [
          "External Supplier API"
        ],
        "summary": "Get Included Items",
        "responses": {
          "200": {
            "description": "Included items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncludedListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/external/supplier/categories": {
      "get": {
        "tags": [
          "External Supplier API"
        ],
        "summary": "Get Categories",
        "responses": {
          "200": {
            "description": "Categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/external/supplier/fuel-policies": {
      "get": {
        "tags": [
          "External Supplier API"
        ],
        "summary": "Get Fuel Policies",
        "responses": {
          "200": {
            "description": "Fuel policies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FuelPolicyListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/external/supplier/location-types": {
      "get": {
        "tags": [
          "External Supplier API"
        ],
        "summary": "Get Location Types",
        "responses": {
          "200": {
            "description": "Location types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationTypeListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/external/supplier/branches": {
      "get": {
        "tags": [
          "External Supplier API"
        ],
        "summary": "Get Supplier Branches",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Branches",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated or unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/countries": {
      "get": {
        "tags": [
          "Reference Data"
        ],
        "summary": "Get countries",
        "responses": {
          "200": {
            "description": "List of country names",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "example": [
                  "USA",
                  "UK",
                  "France"
                ]
              }
            }
          }
        }
      }
    },
    "/get/currencies": {
      "get": {
        "tags": [
          "Reference Data"
        ],
        "summary": "Get currencies",
        "responses": {
          "200": {
            "description": "Currencies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/logos": {
      "get": {
        "tags": [
          "Reference Data"
        ],
        "summary": "Get supplier logos",
        "responses": {
          "200": {
            "description": "Array of logo filenames",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "example": [
                  "logo1.png",
                  "logo2.png"
                ]
              }
            }
          }
        }
      }
    },
    "/get/backgrounds": {
      "get": {
        "tags": [
          "Reference Data"
        ],
        "summary": "Get background settings",
        "responses": {
          "200": {
            "description": "Background settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackgroundSettingListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/photos": {
      "get": {
        "tags": [
          "Reference Data"
        ],
        "summary": "Get vehicle photos",
        "responses": {
          "200": {
            "description": "Vehicle photos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehiclePhotoListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/priceTax": {
      "get": {
        "tags": [
          "Reference Data"
        ],
        "summary": "Get price tax settings",
        "responses": {
          "200": {
            "description": "Price taxes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceTaxResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/rating/questions": {
      "get": {
        "tags": [
          "Rates & Reviews"
        ],
        "summary": "Get rating questions",
        "responses": {
          "200": {
            "description": "Rating questions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateQuestionListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/locations": {
      "get": {
        "tags": [
          "Reference Data"
        ],
        "summary": "Get branch locations",
        "responses": {
          "200": {
            "description": "Locations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/fuel-policies": {
      "get": {
        "tags": [
          "Fuel Policies"
        ],
        "summary": "Get fuel policies",
        "responses": {
          "200": {
            "description": "Fuel policies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FuelPolicyListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/included": {
      "get": {
        "tags": [
          "Included"
        ],
        "summary": "Get included items",
        "responses": {
          "200": {
            "description": "Included items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncludedListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/rental-terms": {
      "get": {
        "tags": [
          "Rental Terms"
        ],
        "summary": "Get rental terms",
        "responses": {
          "200": {
            "description": "Rental terms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RentalTermsListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/specifications": {
      "get": {
        "tags": [
          "Specifications"
        ],
        "summary": "Get specifications",
        "responses": {
          "200": {
            "description": "Specifications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpecificationListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get vehicle categories",
        "responses": {
          "200": {
            "description": "Categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/location-types": {
      "get": {
        "tags": [
          "Location Types"
        ],
        "summary": "Get location types",
        "responses": {
          "200": {
            "description": "Location types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationTypeListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/filter/vehicles": {
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Filter/search vehicles",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterVehicleRequest"
              },
              "example": {
                "pickupLoc": "London",
                "date_from": "2025-06-01",
                "date_to": "2025-06-07",
                "time_from": "10:00",
                "time_to": "10:00",
                "currency": "USD",
                "priceRange": 200,
                "category": [
                  1,
                  2
                ],
                "supplier": [
                  5
                ],
                "location_type_id": [
                  1
                ],
                "payment_methods": [
                  2,
                  3
                ],
                "specifications": [
                  {
                    "name": "Transmission",
                    "option": [
                      "Automatic"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Filtered results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleFilterResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/vehicles": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get vehicles list",
        "parameters": [
          {
            "name": "branch_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "supplier",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicles",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/vehicle/data": {
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get single vehicle details",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "location": {
                    "type": "string"
                  },
                  "pickupLoc": {
                    "type": "string"
                  },
                  "date_from": {
                    "type": "string",
                    "format": "date"
                  },
                  "date_to": {
                    "type": "string",
                    "format": "date"
                  },
                  "currency": {
                    "type": "string"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": 1,
                "location": "London",
                "date_from": "2025-06-01",
                "date_to": "2025-06-07",
                "currency": "USD"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vehicle details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/vehicles": {
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Search vehicles (sets session)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pickupLoc": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "pickupLoc": "London",
                "date": "2025-06-01",
                "currency": "USD"
              }
            }
          }
        },
        "responses": {
          "302": {
            "description": "Redirect to results page"
          }
        }
      }
    },
    "/get/filtered/specifications": {
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get filtered specifications",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vehicle_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              },
              "example": {
                "vehicle_ids": [
                  1,
                  2,
                  3
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Specifications with counts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpecificationListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/jimpisoft/refresh-prices": {
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Refresh Jimpisoft prices",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pickupLoc": {
                    "type": "string"
                  },
                  "date_from": {
                    "type": "string",
                    "format": "date"
                  },
                  "date_to": {
                    "type": "string",
                    "format": "date"
                  }
                },
                "required": [
                  "pickupLoc",
                  "date_from",
                  "date_to"
                ]
              },
              "example": {
                "pickupLoc": "London",
                "date_from": "2025-06-01",
                "date_to": "2025-06-07"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prices refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": true,
                  "fresh": true,
                  "message": "Prices refreshed successfully.",
                  "data": {
                    "branches_updated": [
                      1
                    ],
                    "vehicles_updated": 5,
                    "prices": {}
                  }
                }
              }
            }
          },
          "422": {
            "description": "Missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No branches/vehicles found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/vehicles": {
      "post": {
        "tags": [
          "Supplier"
        ],
        "summary": "Create or update vehicle",
        "description": "Requires active_supplier middleware. Set `update=1` and provide `id` to update an existing vehicle.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEditVehicleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vehicle saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/edit/vehicles/{id}": {
      "get": {
        "tags": [
          "Supplier"
        ],
        "summary": "Get vehicle for editing",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicle edit data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleEditResponse"
                }
              }
            }
          }
        }
      }
    },
    "/edit-vehicle-price": {
      "post": {
        "tags": [
          "Supplier"
        ],
        "summary": "Update vehicle price",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "price": {
                    "type": "number"
                  },
                  "week_price": {
                    "type": "number"
                  },
                  "month_price": {
                    "type": "number"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": 1,
                "price": 50.0,
                "week_price": 45.0,
                "month_price": 40.0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Price updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": {},
                  "status": true
                }
              }
            }
          }
        }
      }
    },
    "/update/vehicles/activation": {
      "post": {
        "tags": [
          "Supplier"
        ],
        "summary": "Toggle vehicle activation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vehicle_id": {
                    "type": "integer"
                  },
                  "activation": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "vehicle_id",
                  "activation"
                ]
              },
              "example": {
                "vehicle_id": 1,
                "activation": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activation updated"
          }
        }
      }
    },
    "/delete/vehicles/{id}": {
      "post": {
        "tags": [
          "Supplier"
        ],
        "summary": "Delete vehicle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": true,
                  "message": "deleted successfully"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/bulk-upload": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Bulk upload vehicles via Excel",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "branch": {
                    "type": "integer"
                  },
                  "supplier": {
                    "type": "integer"
                  }
                },
                "required": [
                  "file",
                  "branch"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkUploadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/bulk-upload/template": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Download bulk upload template",
        "responses": {
          "200": {
            "description": "Excel file download",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/book/vehicles": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "Book a vehicle",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Vehicle ID"
                  },
                  "date_from": {
                    "type": "string",
                    "format": "date"
                  },
                  "date_to": {
                    "type": "string",
                    "format": "date"
                  },
                  "time_from": {
                    "type": "string"
                  },
                  "time_to": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "old_rental_id": {
                    "type": "integer",
                    "nullable": true
                  }
                },
                "required": [
                  "id",
                  "date_from",
                  "date_to",
                  "currency"
                ]
              },
              "example": {
                "id": 1,
                "date_from": "2025-06-01",
                "date_to": "2025-06-07",
                "time_from": "10:00",
                "time_to": "10:00",
                "currency": "USD"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Booking created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RentalResponse"
                },
                "example": {
                  "data": {
                    "id": 1,
                    "order_number": "USATR0001",
                    "vehicle_id": 1,
                    "price": 350.0,
                    "order_status": 1
                  },
                  "status": true
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cancel/booking": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "Cancel booking",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": [],
                  "message": "Order has benn canceled"
                }
              }
            }
          },
          "403": {
            "description": "Cannot cancel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/rentals": {
      "get": {
        "tags": [
          "Bookings & Rentals"
        ],
        "summary": "Get rentals (supplier or admin)",
        "parameters": [
          {
            "name": "order_status",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order_number",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_range",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "has_review",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rentals list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RentalListWithStatusesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/rentals/admin": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get all rentals (admin)",
        "parameters": [
          {
            "name": "supplier_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order_status",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order_number",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_range",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "has_review",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Admin rentals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RentalListWithStatusesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/booking/{id}": {
      "get": {
        "tags": [
          "Bookings & Rentals"
        ],
        "summary": "Get booking details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Booking details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RentalResponse"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/booking/{id}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "Download booking invoice PDF",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF download",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/get/supplier/invoice": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get supplier invoice summary",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplierInvoiceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rentals/reconcile": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Reconcile supplier rentals",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "supplier_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "supplier_id"
                ]
              },
              "example": {
                "supplier_id": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reconciled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": true,
                  "data": []
                }
              }
            }
          }
        }
      }
    },
    "/booking/update-status": {
      "get": {
        "tags": [
          "Bookings & Rentals"
        ],
        "summary": "Update booking status",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Base64-encoded JSON with rental_id"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status updated"
          }
        }
      }
    },
    "/rental/rate/{id}": {
      "get": {
        "tags": [
          "Bookings & Rentals"
        ],
        "summary": "Get rental with ratings",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rental with rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RentalWithRatesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rating": {
      "post": {
        "tags": [
          "Rates & Reviews"
        ],
        "summary": "Submit rating",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rental_id": {
                    "type": "integer"
                  },
                  "rate": {
                    "type": "number"
                  },
                  "comment": {
                    "type": "string"
                  }
                },
                "required": [
                  "rental_id",
                  "rate"
                ]
              },
              "example": {
                "rental_id": 1,
                "rate": 4.5,
                "comment": "Great service!"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rating saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/user/data": {
      "get": {
        "tags": [
          "User & Profile"
        ],
        "summary": "Get current user",
        "responses": {
          "200": {
            "description": "Current user object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/my-current-user-profile": {
      "get": {
        "tags": [
          "User & Profile"
        ],
        "summary": "Get customer profile with rentals",
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/user/role": {
      "get": {
        "tags": [
          "User & Profile"
        ],
        "summary": "Get current user role",
        "responses": {
          "200": {
            "description": "Role string or null"
          }
        }
      }
    },
    "/get/companies": {
      "get": {
        "tags": [
          "User & Profile"
        ],
        "summary": "Get companies/suppliers",
        "responses": {
          "200": {
            "description": "Companies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/suppliers": {
      "get": {
        "tags": [
          "User & Profile"
        ],
        "summary": "Get active suppliers",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Suppliers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/customers": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get all customers",
        "responses": {
          "200": {
            "description": "Customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delete/customers": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Delete a customer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "data": [],
                  "status": 1,
                  "message": "Customer deleted successfully"
                }
              }
            }
          }
        }
      }
    },
    "/assign-parent": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Assign parent company",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "selectedCompany": {
                    "type": "integer"
                  },
                  "parentCompany": {
                    "type": "integer"
                  }
                },
                "required": [
                  "selectedCompany",
                  "parentCompany"
                ]
              },
              "example": {
                "selectedCompany": 2,
                "parentCompany": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assignment result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/upload": {
      "post": {
        "tags": [
          "User & Profile"
        ],
        "summary": "Upload user profile/logo",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "logo": {
                    "type": "string",
                    "format": "binary"
                  },
                  "newPass": {
                    "type": "string"
                  },
                  "oldPass": {
                    "type": "string"
                  },
                  "confirmNewPass": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/change-company": {
      "post": {
        "tags": [
          "Supplier"
        ],
        "summary": "Switch to another company account",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "selectedCompany": {
                    "type": "integer"
                  }
                },
                "required": [
                  "selectedCompany"
                ]
              },
              "example": {
                "selectedCompany": 2
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Switched"
          }
        }
      }
    },
    "/get/branches": {
      "get": {
        "tags": [
          "Branches"
        ],
        "summary": "Get branches",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Branches",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/upload/branch": {
      "post": {
        "tags": [
          "Supplier"
        ],
        "summary": "Create branch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BranchRequest"
              },
              "example": {
                "name": "Downtown Branch",
                "location": "London",
                "adresse": "123 Main St",
                "country": "UK",
                "pickup_type": "Airport",
                "city": "London",
                "phone": "+44 20 1234 5678",
                "lat": 51.5074,
                "lng": -0.1278,
                "email": "branch@example.com",
                "currency": "GBP"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Branch created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "message": "Branch created successfully",
                  "status": true
                }
              }
            }
          }
        }
      }
    },
    "/delete/branches": {
      "post": {
        "tags": [
          "Supplier"
        ],
        "summary": "Delete branch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "message": "Branch deleted successfully"
                }
              }
            }
          }
        }
      }
    },
    "/branches/edit/{id}": {
      "get": {
        "tags": [
          "Supplier"
        ],
        "summary": "Get branch for edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Branch data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/branches/update": {
      "post": {
        "tags": [
          "Supplier"
        ],
        "summary": "Update branch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BranchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Branch updated"
          }
        }
      }
    },
    "/api/blog-categories": {
      "get": {
        "tags": [
          "Blog Categories"
        ],
        "summary": "List all blog categories",
        "responses": {
          "200": {
            "description": "Categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogCategoryListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Blog Categories"
        ],
        "summary": "Create blog category",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlogCategoryRequest"
              },
              "example": {
                "title": "Travel Tips",
                "activation": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogCategoryResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/blog-categories/active": {
      "get": {
        "tags": [
          "Blog Categories"
        ],
        "summary": "List active blog categories",
        "responses": {
          "200": {
            "description": "Active categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogCategoryListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/blog-categories/{blogCategory}": {
      "get": {
        "tags": [
          "Blog Categories"
        ],
        "summary": "Get blog category",
        "parameters": [
          {
            "name": "blogCategory",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogCategoryResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Blog Categories"
        ],
        "summary": "Update blog category",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "blogCategory",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlogCategoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogCategoryResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Blog Categories"
        ],
        "summary": "Delete blog category",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "blogCategory",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/blog-categories/{category}/blogs": {
      "get": {
        "tags": [
          "Blog Categories"
        ],
        "summary": "Get blogs by category",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "is_published",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blogs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogCategoryWithBlogsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/blog-categories/{blogCategory}/toggle-activation": {
      "patch": {
        "tags": [
          "Blog Categories"
        ],
        "summary": "Toggle category activation",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "blogCategory",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Toggled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogCategoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/blogs": {
      "get": {
        "tags": [
          "Blog"
        ],
        "summary": "List all blogs",
        "parameters": [
          {
            "name": "category_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "is_published",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blogs list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogPaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/blogs/published": {
      "get": {
        "tags": [
          "Blog"
        ],
        "summary": "List published blogs",
        "parameters": [
          {
            "name": "category_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Published blogs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogPaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/blogs/{blog}": {
      "get": {
        "tags": [
          "Blog"
        ],
        "summary": "Get blog by ID",
        "parameters": [
          {
            "name": "blog",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/blogs/slug/{slug}": {
      "get": {
        "tags": [
          "Blog"
        ],
        "summary": "Get blog by slug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/blogs/{blog}/toggle-publish": {
      "patch": {
        "tags": [
          "Blog"
        ],
        "summary": "Toggle blog publish status",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "blog",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Toggled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/blogs-admin-store": {
      "post": {
        "tags": [
          "Blog"
        ],
        "summary": "Create blog (admin web route: POST /api/blogs)",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BlogFormRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/blogs-admin-update/{blog}": {
      "post": {
        "tags": [
          "Blog"
        ],
        "summary": "Update blog (admin web route: POST /api/blogs/{blog})",
        "parameters": [
          {
            "name": "blog",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BlogFormRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/blogs-admin-delete/{blog}": {
      "delete": {
        "tags": [
          "Blog"
        ],
        "summary": "Delete blog (admin web route: DELETE /api/blogs/{blog})",
        "parameters": [
          {
            "name": "blog",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/categories": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Create category",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryRequest"
              }
            }
          }
        }
      }
    },
    "/update/categories": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Update category",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/delete/categories": {
      "post": {
        "tags": [
          "Categories"
        ],
        "summary": "Delete category",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        }
      }
    },
    "/post/specifications": {
      "post": {
        "tags": [
          "Specifications"
        ],
        "summary": "Create specification",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpecificationRequest"
              }
            }
          }
        }
      }
    },
    "/specifications/update": {
      "post": {
        "tags": [
          "Specifications"
        ],
        "summary": "Update specification",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpecificationUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/delete/specifications": {
      "post": {
        "tags": [
          "Specifications"
        ],
        "summary": "Delete specification",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        }
      }
    },
    "/post/included": {
      "post": {
        "tags": [
          "Included"
        ],
        "summary": "Create included item",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncludedRequest"
              }
            }
          }
        }
      }
    },
    "/delete/included": {
      "post": {
        "tags": [
          "Included"
        ],
        "summary": "Delete included item",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        }
      }
    },
    "/post/rental-terms": {
      "post": {
        "tags": [
          "Rental Terms"
        ],
        "summary": "Create rental term",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RentalTermsRequest"
              }
            }
          }
        }
      }
    },
    "/delete/rental-terms": {
      "post": {
        "tags": [
          "Rental Terms"
        ],
        "summary": "Delete rental term",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        }
      }
    },
    "/edit/rental-terms": {
      "post": {
        "tags": [
          "Rental Terms"
        ],
        "summary": "Edit rental term",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RentalTermsUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/show/rental-terms": {
      "post": {
        "tags": [
          "Rental Terms"
        ],
        "summary": "Get single rental term",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        }
      }
    },
    "/update/rental-terms/status": {
      "post": {
        "tags": [
          "Rental Terms"
        ],
        "summary": "Approve or reject rental term",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RentalTermsStatusRequest"
              }
            }
          }
        }
      }
    },
    "/select-rental-terms": {
      "post": {
        "tags": [
          "Supplier"
        ],
        "summary": "Assign rental terms to supplier",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rental_term_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "rental_term_id"
                ]
              },
              "example": {
                "rental_term_id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assigned"
          }
        }
      }
    },
    "/get/requests": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get membership requests",
        "responses": {
          "200": {
            "description": "Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accept/requests": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Accept membership request",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request accepted"
          }
        }
      }
    },
    "/delete/requests": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Delete/reject membership request",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request deleted"
          }
        }
      }
    },
    "/post/request": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "Submit membership request",
        "responses": {
          "200": {
            "description": "Requested",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "message": "Role updated successfully"
                }
              }
            }
          }
        }
      }
    },
    "/post/photos": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Upload vehicle photo",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "photo": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "photo"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Photo uploaded"
          }
        }
      }
    },
    "/delete/photos": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Delete vehicle photo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Photo deleted"
          }
        }
      }
    },
    "/profit/upload": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Upload profit margins",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profits uploaded"
          }
        }
      }
    },
    "/get/profit": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get profit margins",
        "responses": {
          "200": {
            "description": "Profit data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get/subscribers": {
      "get": {
        "tags": [
          "Subscribers"
        ],
        "summary": "Get subscribers",
        "responses": {
          "200": {
            "description": "Subscribers list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriberListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/delete/subscribers": {
      "post": {
        "tags": [
          "Subscribers"
        ],
        "summary": "Delete subscriber",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber deleted"
          }
        }
      }
    },
    "/send-email": {
      "post": {
        "tags": [
          "Subscribers"
        ],
        "summary": "Send email to subscribers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subject": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  }
                },
                "required": [
                  "subject",
                  "message"
                ]
              },
              "example": {
                "subject": "Newsletter",
                "message": "Hello subscribers!"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent"
          }
        }
      }
    },
    "/get/payment_methods": {
      "get": {
        "tags": [
          "Payment Methods"
        ],
        "summary": "Get payment methods",
        "responses": {
          "200": {
            "description": "Payment methods",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment_methods": {
      "post": {
        "tags": [
          "Payment Methods"
        ],
        "summary": "Store supplier payment methods",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payment_methods": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                },
                "required": [
                  "payment_methods"
                ]
              },
              "example": {
                "payment_methods": [
                  1,
                  2,
                  3
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment methods saved"
          }
        }
      }
    },
    "/promo": {
      "get": {
        "tags": [
          "Promos"
        ],
        "summary": "Get promos",
        "responses": {
[...]
